{% extends "user/base.html" %}
{% load static %}
{% block title %}reset_password {% endblock %}
{% block content %}
<div class="container mt-5 d-flex justify-content-center">
  <div class="card shadow-lg border-0 p-4" style="max-width: 600px; width: 100%; border-radius: 15px;">
    <h3 class="fw-bold text-center mb-4">🔐 Reset Password</h3>
         
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="name" class="form-label fw-semibold"> Email</label>
          <input type="email" class="form-control"  name="email"  required>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label fw-semibold">New Password</label>
          <input type="password" class="form-control"  name="password"  required>
        </div>
        <div class=" justify-content-center align-item-center mb-3 ">
         <button type="submit" class="btn btn-success rounded-pill px-4">Reset email</button>
        </div>

        {% if messages %}
            {% for msg in messages %}
                <p class="message error">{{ msg }}</p>
            {% endfor %}
        {% endif %}
    </form>
  </div>
  
</div>
{% comment %} <div class="reset-wrapper">
    
    <h2>🔐 Reset Password</h2>

    <form method="POST">
        {% csrf_token %}

        <label>Email</label>
        <input type="email" name="email" class="form-control mb-3" required>

        <label>New Password</label>
        <input type="password" name="password" class="form-control mb-3" required>

        <button type="submit" class="btn-reset">Reset Password</button>

        {% if messages %}
            {% for msg in messages %}
                <p class="message error">{{ msg }}</p>
            {% endfor %}
        {% endif %}
    </form>

</div> {% endcomment %}


{% endblock %}